<ul class="nav nav-tabs">
  <li><a href="/">Enter Emails</a></li>
  <li class="active"><a href="#">Results</a></li>
</ul><h1> The duplication list:  </h1>

<% if  @intersection.present? %>
  <pre><%=  @intersection.to_csv.strip.gsub('"',"")    %></pre>
  <br><br>
  <!-- <a href="#">Download CSV</a> -->
<% else %>
  <h5>No lists Provided, you big jerk!</h5>
<% end %>

