<h1> The duplication list:  </h1>
<pre><%=  @intersection.to_csv.strip.gsub('"',"") %></pre>
<br><br><a href="#">Download CSV</a>


<div id="d_clip_container" style="position:relative">
  <div id="d_clip_button">Copy to Clipboard</div>
</div>